@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro&family=Source+Serif+Pro:wght@200&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  object-fit: cover;
  position: relative;
  height: 100vh;
}
.container .logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
.container .signin {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  position: absolute;
  right: 118px;
  top: 80px;
  padding: 44px 44px 79px 44px;
}
.container .signin .signin__header {
  display: flex;
  width: 451px;
  justify-content: space-between;
}

.container .signin .signin__header .signin__header-left {
  width: 235px;
}

.container .signin .signin__header .signin__header-left span {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}
.container .signin .signin__header .signin__header-left span.green {
  color: #779341;
  font-weight: 600;
}
.container .signin .signin__header .signin__header-left a {
  text-decoration: none;
}
.container .signin .signin__header .signin__header-left h1 {
  margin: 0;
  margin-bottom: 43px;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 82px;
  color: #000000;
}
.container .signin .signin__header .signin__header-right {
  display: flex;
  flex-direction: column;
}

.container .signin .signin__header .signin__header-right span {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8d8d8d;
  align-items: flex-end;
}
.container .signin .signin__header .signin__header-right span:first-child {
  margin-top: 6px;
}

.container .signin .signin__header .signin__header-right span a {
  color: #779341;
  text-decoration: none;
}
.container .methods {
  width: 451px;
  display: flex;
  margin-bottom: 49px;
  /* justify-content: space-between; */
}
.container .methods .methods__google a {
  height: 56px;
  background: #e9f1ff;
  border-radius: 9px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4285f4;
  padding-left: 32px;
  padding-right: 66px;
  margin-right: 20px;
  border: none;
  text-decoration: none;
}
.container .methods .methods__google span {
  margin-left: 21px;
  width: 153px;
}
.container .signin .methods .methods__facebook {
  margin-right: 13px;
}
.container .methods .methods__facebook a,
.container .methods .methods__apple a {
  min-width: 60px;
  min-height: 56px;
  background: #ffffff;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .methods .methods__facebook {
  margin-right: 20px;
}
.container .signin .username,
.container .signin .password {
  display: flex;
  flex-direction: column;
}
.container .signin .username {
  margin-bottom: 36px;
}
.container .signin .password {
  margin-bottom: 12px;
}
form {
  width: 451px;
}
.container .signin label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 13px;
}
form input {
  background: #ffffff;
  border: 1px solid #adadad;
  border-radius: 9px;
  height: 57px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  padding-left: 25px;
}
form input:focus {
  border: 1px solid #4285f4;
  outline: none !important;
}
input#username {
  margin-bottom: none !important;
}
.container .signin .signin__form .signin__form-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 451px;
}
.container .signin .signin__form .signin__form-bottom a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #4285f4;
  margin-bottom: 44px;
  text-decoration: none;
}
.container .signin .signin__form .signin__form-bottom button {
  background: #779341;
  width: 236px;
  height: 54px;
  border-radius: 10px;
  padding: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  outline: none;
  border: none;
}
.container .signin .signin__form .signin__form-bottom button:hover {
  box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
  cursor: pointer;
}
